.content{
  margin-top: 3rem;
}

/*.row {
  background: #f9f9f9;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
}

.columns:nth-child(odd) {
  background: #eee;
}

.columns:nth-child(even) {
  background: #ddd;
}*/
